body {
  background-color: #d1c0c0;
  font-family: 'Staatliches', cursive;
  margin: auto;
  width: 50%;
  text-align: center
}

body div {
  color: #423f3c;
}

li {
  list-style: none;
}

.name {
  font-size: 400%;
  margin-bottom: 0;
}

.subname {
  font-size: 350%;
  margin-top: 0;
  text-align: right;
}

.calendar {
  margin-bottom: 50px;
}

.calendar small {
  font-size: 50%;#
}

.calendar p {
  margin-bottom: 0;
}

.event {
  display: block;
  font-size: 35px;
  margin: 0 0 30px;
}

.event-info {
  display: block;
  font-size: 25px;

.event-primary {
  font-size: 300%;
}

.event-secondary {
  font-size: 250%;
}

.links {
  display: flex;
  justify-content: space-around;
}

a {
  color: #5e663b;
}

.links a {
  font-size: 250%;
  margin-right: 10%;
  margin-left: 10%;
}

#officer-list {
  padding: 0;
}

.left-list {
  text-align: left;
}
